*{
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color:#75B79E;
    margin: 40px auto 47px auto;
    text-align: center;
}

.cards {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  /* margin-right: 30px; */
  justify-content: center;
  height: 100%;
  margin-left: 122px; 
  margin-right: 122px;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    margin-left: 34px;
    margin-bottom: 34px;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .front-face img {
      height: 150px;
      width: 150px;
  }

  .back-face img {
    width: 150px;
  }
  

  .back-face {
    transform: rotateY(180deg);
  }

  .card.rotate .back-face {
    transform: rotateY(0deg);
  }

  .card.rotate .front-face{
    transform: rotateY(-180deg);
  }